@import "tailwindcss";

/* Remove text selection background color */
::selection {
  background-color: transparent;
  color: inherit;
}

@theme {
  --font-Title: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-primary: #4f46e5;
  --color-secondary: #50c878;
  --color-neutral: #c0c2c9;
  --color-accent: #ffbf00;
  --color-error: #ff5555;
  --color-primary-hover: #2e24e0;
  --color-secondary-hover: #3b9c4c;
  --color-accent-hover: #f2a900;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
}
